$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;

body::-webkit-scrollbar{
  display: none;
}

.btn {
    
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $red;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  
    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
  }
.third {
    border-color: $blue;
    color: #fff;
    box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
    transition: all 150ms ease-in-out;
    
    &:hover {
      box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
      background: $blue;
      color: #fff;
    //   color: #fff;
    }
  }

.place_btn
{
    color:$blue;
    &:hover{
        color:#fff
    }
}

// .card{
//     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// }
.card_container{
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.card_prod{
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.1);
  }
}